#display {
  background-color: var(--brand);
  padding: var(--padding);
  border-radius: 0.8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.display__group {
  display: grid;
  gap: var(--padding);
}

.display__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--padding);
  text-align: left;
}

.display__label {
  display: grid;
  justify-items: start;
}

.header,
.tip__header {
  color: var(--neutral4);
  font-size: 2rem;
}

.unit {
  color: var(--neutral2);
  font-size: 1.3rem;
  padding: 1rem;
}

.display__amt {
  font-size: 2.5rem;
  color: var(--neutral2);
}
