*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --brand: hsl(205, 100%, 26%);
  --text: hsl(204.5, 100%, 20.2%);
  --neutral1: hsl(202.3, 24.5%, 72%);
  --neutral2: hsl(204.6, 43.8%, 82.5%);
  --neutral3: hsl(202.3, 77.8%, 91.2%);
  --neutral4: hsl(204, 45.5%, 91.4%);
  --white: hsl(179, 41%, 99%);

  /* utils */

  --padding: clamp(2rem, 4vw, 3.5rem);
  --padding-lg: clamp(4rem, 7vw, 6.5rem);
}

body {
  font-family: "Raleway", sans-serif;
  display: grid;
  place-content: center;
  place-items: center;
  font-size: 1.8rem;
  height: 170vh;
  padding-block: var(--padding-lg);
  background-color: var(--text);
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  max-width: 1080px;
  margin-bottom: 27rem;
}

.logo {
  height: 20rem;
  width: 20rem;
}

.container {
  padding: var(--padding);
  background: var(--neutral4);
  border-radius: 2rem;
  box-shadow: 0 4rem 5rem var(--text);
  display: grid;
  grid-auto-flow: column;
  gap: var(--padding);
}

.btn {
  font: inherit;
  background-color: var(--brand);
  color: var(--white);
  cursor: pointer;
  border: none;
  border-radius: 0.2rem;
  padding: 0.3rem 0.8rem;
  text-transform: uppercase;
  font-size: 1rem;
  box-shadow: 0 0.2rem 2rem black, 0 0 0 -0.2rem black, 0 0 0 -0.2rem black;
  transition: box shadow 400ms;
}

.btn[disabled] {
  opacity: 0.2;
  cursor: not-allowed;
}

.btn:focus {
  outline: none;
}

.btn:not([disabled]):hover {
  box-shadow: 0 0 0 var(--brand), 0 0 0 0.2rem black, 0 0 0 0.5rem var(--text);
  background-color: var(--neutral3);
}

.btn:focus-visible {
  box-shadow: 0 0.2rem 2rem black, 0 0 0 0.2rem black, 0 0 0 0.3rem black;
}

/* media queries */

@media screen and (max-width: 480px) {
  .container,
  .wrapper,
  .form {
    display: flex;
    flex-direction: column;
    column-count: 1;
    max-width: 18rem;
  }

  #display {
    max-width: 15rem;
  }

  .display__amt {
    font-weight: 100;
    position: absolute;
    margin-left: 6rem;
    margin-top: 2.8rem;
  }

  .total__container {
    font-weight: 200;
    margin-bottom: 1.5rem;
  }

  .unit {
    margin-bottom: 1rem;
    margin-left: -1rem;
  }

  .logo {
    height: 13rem;
    width: 13rem;
    display: flex;
    flex-direction: column;
    justify-self: center;
    justify-content: center;
    align-self: center;
    margin-top: 10rem;
  }
}
